.phoneLink {
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  text-decoration: none;
  gap: 0.25rem;
  color: var(--primary-color);
  transition: all 0.3s ease;
  padding: 0.25rem 0.5rem;

  @media (hover) {
    &:hover {
      color: var(--secondary-color);
    }
  }
  &:active {
    color: var(--secondary-color);
  }

  &:focus {
    border-radius: 0.25rem;
    border: 1px solid var(--primary-color);
  }
}
