.hero {
  background-image: url('/austin-schmid-hRdVSYpffas-unsplash.webp');
  background-color: var(--text-color);
  background-size: cover;
  background-position: center;
  min-height: 900px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--bg-color);
  margin-top: 2rem;
  border-radius: 2rem;

  &__content {
    max-width: 800px;
    padding: 20px;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  &__button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #fff;
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }
  &__button_second {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  .hero__list__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .hero {
    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1.2rem;
    }

    &__description {
      font-size: 1rem;
    }
  }

  .how-we-work {
    &__step {
      max-width: 100%;
    }
  }

  .ourServices {
    .service {
      max-width: 100%;
    }
  }

  .contactUs {
    .form {
      max-width: 100%;
    }
  }
}

.how-we-work {
  padding: 4rem 1rem;
  text-align: center;

  &__title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  &__steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__step {
    max-width: 100%;
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid #ddd;
    border-radius: var(--border-radius-black);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  &__step-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem auto 1rem auto;

    max-width: fit-content;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
  }

  &__step-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__step-description {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

.ourServices {
  padding: 4rem 1rem;
  text-align: center;

  .title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .service {
    max-width: 100%;
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid #ddd;
    border-radius: var(--border-radius-black);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .serviceIcon {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--primary-color);
  }

  .serviceTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
  }

  .serviceDescription {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

.contactUs {
  padding: 4rem 1rem;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--bg-color);

  .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;

    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    input,
    textarea {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    textarea {
      height: 150px;
      resize: vertical;
    }
  }

  .submitButton {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #555;
    }
  }
}

.contactInfo {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  p {
    display: flex;
    align-items: center;
    margin: 0.5rem 1rem;

    svg {
      margin-right: 0.5rem;
    }
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 1.3rem;
    }

    &__description {
      font-size: 1.1rem;
    }
  }

  .how-we-work {
    &__step {
      max-width: 45%;
    }
  }

  .ourServices {
    .service {
      max-width: 45%;
    }
  }
}

/* Для ноутбуков и настольных компьютеров */
@media (min-width: 1024px) {
  .hero {
    &__title {
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 1.5rem;
    }

    &__description {
      font-size: 1.2rem;
    }
  }

  .how-we-work {
    &__step {
      max-width: 300px;
    }
  }

  .ourServices {
    .service {
      max-width: 300px;
    }
  }
}
