.banner {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
  border-radius: var(--border-radius-black);
  color: var(--bg-color);

  .content {
    max-width: 800px;
    margin: 0 auto;
  }

  .title {
    font-size: clamp(1rem, 5vw, 2rem);
    margin-bottom: 1rem;
  }

  .description {
    font-size: clamp(0.5rem, 5vw, 1.5rem);
    line-height: 1.5;
    margin-bottom: 2rem;
  }
}
